langgraph
langgraph-prebuilt
langgraph-sdk
langgraph-checkpoint-sqlite
langsmith
langchain-community
langchain-core
langchain-google-vertexai
langchain-openai
notebook
tavily-python
wikipedia
trustcall
langgraph-cli[inmem]
db-dtypes
matplotlib
firebase-admin
google-cloud-firestore
google-cloud-bigquery 
pandas
vertexai
google-generativeai
google-cloud-pubsub 
google-cloud-storage
google-cloud-aiplatform
google-auth
fastapi
uvicorn
flask_cors